* {
  background-color: #282c34;
  font-family: 'Merriweather', serif;
}

button {
  background-color: #b9c7e1;
  border-radius: 100px;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: #424956;
  transform: scale(1.05) rotate(-0.5deg);
}

.header {
  font-family: 'Merriweather', serif;
  display: flex;
  align-items: center;
  height: 120px;
  color: white;
  padding: 20px;
  border-color: white;
  overflow: hidden; 
  border-right: .15em solid lightgray; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 1.15em; 
  animation: 
    typing 5.5s steps(40, end),
    blink-caret 1.5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 98% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: lightgray; }
}

.header--image {
  height: 100%;
  margin-right: 6px;
  background-color: transparent;
}

.header--title {
  font-size: 35px;
  margin-right: auto;
  background-color: transparent;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.container {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.business-card {
  margin-left: 50px;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 15px;
  background-color: #424956;
  color: whitesmoke;
  width: 270px;
  border: 2px solid lightgray;
  border-radius: 20px;
  height: 645px;
} 

.display-pic {
  width: 250px;
  height: 215px;
  border-radius: 10%;
  background-color: #424956;
}

.display-info {
  background-color: #424956;
}

.button--selection {
  margin-top: 300px;
  margin-left: 50px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/* Projects */
.projects {
  gap: 40px;
  margin-top: 50px;
  padding: 50px;
  width: 50%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.project-card {
  height: 230px;
  flex-basis: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  border: 2px solid lightgray;
  opacity: 0.6;
}

.project-card:hover {
  opacity: 1;
}

.project-card-title {
  font-size: 18px;
  color: #b9c7e1;
  height: 10%;
}

.project-card-img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.project-info > p {
  margin-block: 3px;
  font-size: 12px;
  color: #b9c7e1;
  font-style: italic;
  padding: 0px;
  border: 0px;
  margin: 0px;
}